@font-face {
	font-weight: 400;
	font-family: Roboto;
	src: url(//fonts.gstatic.com/s/roboto/v16/CWB0XYA8bzo0kSThX0UTuA.woff2) format("woff2"), url(//fonts.gstatic.com/s/roboto/v16/2UX7WLTfW3W8TclTUvlFyQ.woff) format("woff"), url(//fonts.gstatic.com/s/roboto/v16/zN7GBFwfMP4uA6AR0HCoLQ.ttf) format("truetype");
	font-style: normal;
}

@font-face {
	font-weight: 300;
	font-family: sans-serif;
	src: local("Helvetica Neue Light Italic"), local(HelveticaNeue-LightItalic), local("Helvetica Light Oblique"), local(Helvetica-LightOblique);
	font-style: italic;
}

@font-face {
	font-weight: 400;
	font-family: sans-serif;
	src: local("Helvetica Neue Italic"), local(HelveticaNeue-Italic), local("Helvetica Oblique"), local(Helvetica-Oblique);
	font-style: italic;
}

@font-face {
	font-weight: 700;
	font-family: sans-serif;
	src: local("Helvetica Neue Bold Italic"), local(HelveticaNeue-BoldItalic), local("Helvetica Bold Oblique"), local(Helvetica-BoldOblique);
	font-style: italic;
}

@font-face {
	font-weight: 300;
	font-family: sans-serif;
	src: local("Helvetica Neue Light"), local(HelveticaNeue-Light), local("Helvetica Light"), local(Helvetica-Light);
	font-style: normal;
}

@font-face {
	font-weight: 400;
	font-family: sans-serif;
	src: local(HelveticaNeue), local(Helvetica);
	font-style: normal;
}

@font-face {
	font-weight: 700;
	font-family: sans-serif;
	src: local("Helvetica Neue Bold"), local(HelveticaNeue-Bold), local("Helvetica Bold"), local(Helvetica-Bold);
	font-style: normal;
}
/*! normalize.css commit fe56763 | MIT License | github.com/necolas/normalize.css */
html {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 16px;
	font-family: sans-serif;
	-ms-overflow-style: scrollbar;
	-webkit-tap-highlight-color: transparent;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	margin: 0;
	font-size: 1rem;
	line-height: 1.5;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
	color: rgb(55, 58, 60);
	background-color: rgb(255, 255, 255);
}

*,
*::before,
*::after {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

@-ms-viewport {
	width: device-width;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

a:active {
	outline: 0;
}

a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	margin: 0.67em 0;
	font-size: 2em;
}

mark {
	color: rgb(0, 0, 0);
	background: rgb(255, 255, 0);
}

small {
	font-size: 80%;
}

sub,
sup {
	position: relative;
	font-size: 75%;
	line-height: 0;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-size: 1em;
	font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

button,
input,
optgroup,
select,
textarea {
	margin: 0;
	font: inherit;
	color: inherit;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	padding: 0;
	border: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"] {
	-webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
	border: 1px solid rgb(192, 192, 192);
}

legend {
	padding: 0;
	border: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

[tabindex="-1"]:focus {
	outline: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	margin-bottom: 0.5rem;
}

p {
	margin-top: 0;
	margin-bottom: 1rem;
}

abbr[title],
abbr[data-original-title] {
	border-bottom: 1px dotted rgb(129, 138, 145);
	cursor: help;
}

address {
	margin-bottom: 1rem;
	line-height: inherit;
	font-style: normal;
}

ol,
ul,
dl {
	margin-top: 0;
	margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
	margin-bottom: 0;
}

dt {
	font-weight: bold;
}

dd {
	margin-bottom: 0.5rem;
	margin-left: 0;
}

blockquote {
	margin: 0 0 1rem;
}

a {
	color: rgb(2, 117, 216);
	text-decoration: none;
}

a:focus,
a:hover {
	color: rgb(1, 76, 140);
	text-decoration: underline;
}

a:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

pre {
	margin-top: 0;
	margin-bottom: 1rem;
}

figure {
	margin: 0 0 1rem;
}

img {
	vertical-align: middle;
}

[role="button"] {
	cursor: pointer;
}

a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}

table {
	background-color: transparent;
}

caption {
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
	caption-side: bottom;
	text-align: left;
	color: rgb(129, 138, 145);
}

th {
	text-align: left;
}

label {
	display: inline-block;
	margin-bottom: 0.5rem;
}

button:focus {
	outline: 1px dotted;
	outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
textarea {
	margin: 0;
	line-height: inherit;
	border-radius: 0;
}

textarea {
	resize: vertical;
}

fieldset {
	min-width: 0;
	margin: 0;
	padding: 0;
	border: 0;
}

legend {
	display: block;
	width: 100%;
	margin-bottom: 0.5rem;
	padding: 0;
	font-size: 1.5rem;
	line-height: inherit;
}

input[type="search"] {
	-webkit-appearance: none;
}

output {
	display: inline-block;
}

html,
body {
	height: 100%;
}

html {
	background-color: rgb(255, 255, 255);
}

body {
	overflow-x: hidden;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.42;
	font-family: Roboto, Arial, sans-serif;
	color: rgb(0, 0, 0);
	scroll-behavior: smooth;
}

a {
	color: blue;
}

a:hover {
	color: rgb(0, 0, 0);
	text-decoration: none;
}

.break:after {
	content: "\A";
	white-space: pre;
}

svg {
	fill: currentColor;
}

.wrapper {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	height: 100%;
	-webkit-box-direction: normal;
	-webkit-box-orient: vertical;
}

.content {
	-webkit-flex: 1 0 auto;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
	-webkit-box-flex: 1;
}

.container {
	width: 95%;
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;
}

.header {
	position: relative;
}

.header__blocks {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-align-items: center;
	align-items: center;
	-webkit-box-align: center;
	-webkit-box-pack: justify;
	-ms-flex-align: center;
	-ms-flex-pack: justify;
}

.header__block_wide {
	-webkit-flex-grow: 1;
	flex-grow: 1;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
}

.logo {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	width: 150px;
	height: 80px;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
}

.logo__link {
	display: inline-block;
	vertical-align: middle;
}

.logo__pic {
	display: block;
	max-width: 100%;
	height: auto;
	max-height: 100%;
	margin-right: auto;
	margin-left: auto;
}

.hamburger {
	position: relative;
	display: none;
	width: 40px;
	height: 20px;
	padding: 1em;
	font-size: 0.875em;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	background: none;
	border: none;
	border-radius: 0;
	cursor: pointer;
	-webkit-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
	/* Text meant only for screen readers. */
}

.hamburger:focus {
	outline: thin dotted;
	outline-offset: -2px;
}

.hamburger::before {
	content: "";
	position: absolute;
	top: calc(20px / 2);
	left: 0;
	width: 100%;
	height: 2px;
	background-color: rgb(0, 0, 0);
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.hamburger::after {
	content: "";
	position: absolute;
	top: calc(20px / 2);
	left: 0;
	width: 100%;
	height: 2px;
	background-color: rgb(0, 0, 0);
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.hamburger::after {
	-webkit-box-shadow: 0 calc(20px / 2) 0 0 rgb(0, 0, 0), 0 calc(20px / -2) 0 0 rgb(0, 0, 0);
	box-shadow: 0 calc(20px / 2) 0 0 rgb(0, 0, 0), 0 calc(20px / -2) 0 0 rgb(0, 0, 0);
}

.hamburger__screen-reader-text {
	position: absolute !important;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}

.hamburger.opened::after {
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.hamburger.opened::before {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.menu__list {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-around;
	justify-content: space-around;
	margin: 0;
	padding: 0;
	list-style-type: none;
	-ms-flex-pack: distribute;
}

.menu__link {
	position: relative;
	display: block;
	padding: 5px 10px;
	font-weight: 700;
	color: rgba(0, 0, 0, 0.8);
}

.menu__link:hover {
	color: rgb(1, 76, 140);
}

.social__list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.social__item {
	display: inline-block;
	width: 30px;
	height: 30px;
	vertical-align: middle;
}

.social__link {
	display: block;
	height: 100%;
	text-indent: -9999px;
	background-repeat: no-repeat;
	background-size: contain;
}

.social__link_vk {
	background-image: url("data:image/svg+xml;charset=utf-8, %3Csvg%20aria-labelledby%3D%22simpleicons-vk-icon%22%20role%3D%22img%22%20viewBox%3D%220%200%2024%2024%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2232%22%20height%3D%2232%22%20fill%3D%22%22%3E%3Ctitle%20id%3D%22simpleicons-vk-icon%22%3EVK%20icon%3C%2Ftitle%3E%3Cpath%20d%3D%22M11.701%2018.771h1.437s.433-.047.654-.284c.21-.221.21-.63.21-.63s-.031-1.927.869-2.21c.887-.281%202.012%201.86%203.211%202.683.916.629%201.605.494%201.605.494l3.211-.044s1.682-.105.887-1.426c-.061-.105-.451-.975-2.371-2.76-2.012-1.861-1.742-1.561.676-4.787%201.469-1.965%202.07-3.166%201.875-3.676-.166-.48-1.26-.361-1.26-.361l-3.602.031s-.27-.031-.465.09c-.195.119-.314.391-.314.391s-.572%201.529-1.336%202.82c-1.623%202.729-2.268%202.879-2.523%202.699-.604-.391-.449-1.58-.449-2.432%200-2.641.404-3.75-.781-4.035-.39-.091-.681-.15-1.685-.166-1.29-.014-2.378.01-2.995.311-.405.203-.72.652-.539.675.24.03.779.146%201.064.537.375.506.359%201.636.359%201.636s.211%203.116-.494%203.503c-.495.262-1.155-.28-2.595-2.756-.735-1.26-1.291-2.67-1.291-2.67s-.105-.256-.299-.406c-.227-.165-.557-.225-.557-.225l-3.435.03s-.51.016-.689.24c-.166.195-.016.615-.016.615s2.686%206.287%205.732%209.453c2.79%202.902%205.956%202.715%205.956%202.715l-.05-.055z%22%2F%3E%3C%2Fsvg%3E");
}

.social__link_vk:hover {
	background-image: url("data:image/svg+xml;charset=utf-8, %3Csvg%20aria-labelledby%3D%22simpleicons-vk-icon%22%20role%3D%22img%22%20viewBox%3D%220%200%2024%2024%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2232%22%20height%3D%2232%22%20fill%3D%22%236383A8%22%3E%3Ctitle%20id%3D%22simpleicons-vk-icon%22%3EVK%20icon%3C%2Ftitle%3E%3Cpath%20d%3D%22M11.701%2018.771h1.437s.433-.047.654-.284c.21-.221.21-.63.21-.63s-.031-1.927.869-2.21c.887-.281%202.012%201.86%203.211%202.683.916.629%201.605.494%201.605.494l3.211-.044s1.682-.105.887-1.426c-.061-.105-.451-.975-2.371-2.76-2.012-1.861-1.742-1.561.676-4.787%201.469-1.965%202.07-3.166%201.875-3.676-.166-.48-1.26-.361-1.26-.361l-3.602.031s-.27-.031-.465.09c-.195.119-.314.391-.314.391s-.572%201.529-1.336%202.82c-1.623%202.729-2.268%202.879-2.523%202.699-.604-.391-.449-1.58-.449-2.432%200-2.641.404-3.75-.781-4.035-.39-.091-.681-.15-1.685-.166-1.29-.014-2.378.01-2.995.311-.405.203-.72.652-.539.675.24.03.779.146%201.064.537.375.506.359%201.636.359%201.636s.211%203.116-.494%203.503c-.495.262-1.155-.28-2.595-2.756-.735-1.26-1.291-2.67-1.291-2.67s-.105-.256-.299-.406c-.227-.165-.557-.225-.557-.225l-3.435.03s-.51.016-.689.24c-.166.195-.016.615-.016.615s2.686%206.287%205.732%209.453c2.79%202.902%205.956%202.715%205.956%202.715l-.05-.055z%22%2F%3E%3C%2Fsvg%3E");
}

.social__link_fb {
	background-image: url("https://icongr.am/simple/facebook.svg");
}

.social__link_fb:hover {
	background-image: url("https://icongr.am/simple/facebook.svg?colored");
}

.social__link_youtube {
	background-image: url("https://icongr.am/simple/youtube.svg");
}

.social__link_youtube:hover {
	background-image: url("https://icongr.am/simple/youtube.svg?colored");
}

.popup {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1200;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	background: rgba(24, 17, 34, 0.7);
	opacity: 0;
	-webkit-transition: opacity 500ms;
	-o-transition: opacity 500ms;
	transition: opacity 500ms;
	pointer-events: none;
	-moz-overflow-scrolling: touch;
	-ms-overflow-scrolling: touch;
	-o-overflow-scrolling: touch;
	overflow-scrolling: touch;
}

.popup_active {
	opacity: 1;
	pointer-events: auto;
}

.popup__overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.popup__table {
	display: table;
	width: 100%;
	height: 100%;
	padding: 40px 30px;
}

.popup__cell {
	display: table-cell;
	height: 100%;
	vertical-align: middle;
	text-align: center;
}

.popup__block {
	position: relative;
	display: inline-block;
	padding: 20px;
	text-align: left;
	background: rgb(255, 255, 255);
}

.popup__close {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
	display: none;
	width: 30px;
	height: 30px;
	cursor: pointer;
}

.popup__close:before,
.popup__close:after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 16px;
	height: 2px;
	margin: -1px 0 0 -8px;
	background: rgb(0, 0, 0);
	-webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}

.popup__close:before {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.popup__close:after {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.popup_active .popup__close {
	display: block;
}

.popup__change > div {
	display: block;
}

.popup__body_hidden {
	overflow: hidden;
	-webkit-overflow-scrolling: auto;
	-moz-overflow-scrolling: auto;
	-ms-overflow-scrolling: auto;
	-o-overflow-scrolling: auto;
	overflow-scrolling: auto;
}

.footer {
	-webkit-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	-webkit-box-flex: 0;
}

@media screen and (max-width: 768px) {
	.header__block_wide {
		-webkit-flex-grow: inherit;
		flex-grow: inherit;
		-webkit-order: 1;
		-ms-flex-order: 1;
		order: 1;
		-webkit-box-flex: inherit;
		-webkit-box-ordinal-group: 2;
		-ms-flex-positive: inherit;
	}

	.hamburger {
		display: inline-block;
	}

	.menu {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		-webkit-transform: scale(0);
		-ms-transform: scale(0);
		transform: scale(0);
		-webkit-transition: -webkit-transform 0.3s;
		-o-transition: transform 0.3s;
		transition: -webkit-transform 0.3s;
		transition: transform 0.3s;
		transition: transform 0.3s, -webkit-transform 0.3s;
	}

	.menu.active {
		z-index: 10;
		background: rgb(255, 255, 255);
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}

	.menu__list {
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-align-items: center;
		align-items: center;
		padding-top: 10px;
		padding-bottom: 10px;
		-webkit-box-align: center;
		-webkit-box-direction: normal;
		-webkit-box-orient: vertical;
		-ms-flex-align: center;
	}

	.menu__item + .menu__item {
		margin-top: 10px;
	}
}

@media screen and (max-width: 480px) {
	.hamburger {
		height: 15px;
	}

	.hamburger {
		width: 30px;
	}

	.hamburger::before {
		top: calc(15px / 2);
	}

	.hamburger::after {
		top: calc(15px / 2);
	}

	.hamburger::after {
		box-shadow: 0 calc(15px / 2) 0 0 rgb(0, 0, 0), 0 calc(15px / -2) 0 0 rgb(0, 0, 0);
	}

	.hamburger::after {
		box-shadow: 0 calc(15px / 2) 0 0 rgb(0, 0, 0), 0 calc(15px / -2) 0 0 rgb(0, 0, 0);
	}

	.hamburger::after {
		-webkit-box-shadow: 0 calc(15px / 2) 0 0 rgb(0, 0, 0), 0 calc(15px / -2) 0 0 rgb(0, 0, 0);
	}

	.hamburger::after {
		-webkit-box-shadow: 0 calc(15px / 2) 0 0 rgb(0, 0, 0), 0 calc(15px / -2) 0 0 rgb(0, 0, 0);
	}
}
