.menu {

	&__list {
		margin: 0;
		padding: 0;
		list-style-type: none;
		display: flex;
		justify-content: space-around;
	}

	&__link {
		display: block;
		padding: 5px 10px;
		color: rgba(#000,0.8);
		font-weight: 700;

		&:hover {
			color: #014c8c;
		}
	}

	@media screen and (max-width: $screen-sm) {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		transform: scale(0);
		transition:transform 0.3s;

		&.active {
			transform: scale(1);
			background: #fff;
			z-index: 10;
		}

		&__list {
			flex-direction: column;
			align-items: center;
			padding-top: 10px;
			padding-bottom: 10px;
		}

		&__item + &__item {
			margin-top: 10px;
		}
	}
}