.popup {
	position: fixed;
	overflow-x: hidden;
	overflow-y: scroll;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1200;
	-webkit-overflow-scrolling: touch;
	-moz-overflow-scrolling: touch;
	-o-overflow-scrolling: touch;
	-ms-overflow-scrolling: touch;
	overflow-scrolling: touch;
	opacity: 0;
	pointer-events: none;
	background: rgba(24, 17, 34, 0.7);
	transition: opacity 500ms;

	&_active {
		opacity: 1;
		pointer-events: auto;
	}

	&__overlay {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}

	&__table {
		display: table;
		width: 100%;
		height: 100%;
		padding: 40px 30px;
	}

	&__cell {
		height: 100%;
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}

	&__block {
		background: #fff;
		padding: 20px;
		display: inline-block;
		text-align: left;
		position: relative;
	}

	&__close {
		display: none;
		position: absolute;
		top: 0;
		right: 0;
		width: 30px;
		height: 30px;
		cursor: pointer;
		z-index: 2;

		&:before,
		&:after {
			position: absolute;
			left: 50%;
			margin: -1px 0 0 -8px;
			top: 50%;
			height: 2px;
			width: 16px;
			background: #000;
			content: "";
			transform-origin: 50% 50%;
		}

		&:before {
			transform: rotate(-45deg);
		}

		&:after {
			transform: rotate(45deg);
		}
	}

	&_active &__close {
		display: block;
	}

	&__change {
		& > div {
			display: block;
		}
	}

	&__body_hidden {
		overflow: hidden;
		-webkit-overflow-scrolling: auto;
		-moz-overflow-scrolling: auto;
		-o-overflow-scrolling: auto;
		-ms-overflow-scrolling: auto;
		overflow-scrolling: auto;
	}
}