* {
  -webkit-font-smoothing: antialiased;
}
html,
body {
	height: 100%;
}

html {
	background-color: $background;
}

body {
	overflow-x: hidden;
	font-weight: 400;
	font-size: $font-size;
	line-height: 1.42;
	font-family: $font;
	color: $color;
	scroll-behavior: smooth;
	 overscroll-behavior: none;
}

a {
	color: $link_color;

	&:hover {
		color: $link_color_hover;
		text-decoration: none;
	}
}

.break:after {
	// line break br
	content: "\A";
	white-space: pre;
}

svg {
	fill: currentColor;
}

input:focus::placeholder,
textarea:focus::placeholder {
  color: transparent;
}

img,
video,
audio {
  max-width: 100%;
  height: auto;
}

sub,
sup {
  line-height: 0;
}

label, 
button, 
input, 
select { 
    cursor: pointer; 
}

[disabled] {
  cursor: default;
}

abbr[title],
acronym[title],
dfn {
  cursor: help;
}

textarea {
  resize: vertical;
}

.video-wrapper {
  position: relative;
  height: 0;
  padding-top: 25px;
  padding-bottom: 56.25%; /* 16:9 */
}
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}