html,
body {
	height: 100%;
}

html {
	background-color: $background;
}

body {
	overflow-x: hidden;
	font-weight: 400;
	font-size: $font-size;
	line-height: 1.42;
	font-family: $font;
	color: $color;
	scroll-behavior: smooth;
}

a {
	color: $link_color;

	&:hover {
		color: $link_color_hover;
		text-decoration: none;
	}
}

.break:after {
	// line break br
	content: "\A";
	white-space: pre;
}

svg {
	fill: currentColor;
}

label, 
button, 
input, 
select { 
    cursor: pointer; 
}
