// Шрифты
$font: Roboto, Arial, sans-serif;							// Основной фон шрифта
$font-size: 16px;
$background: #fff;

// Цвета
$color: #000;													// Основной цвет шрифта
$link_color: blue;										// Основной цвет ссылок
$link_color_hover: #000;							// Цвет при ховере


//Медиа-запросы
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
